/**
 * @file
 * Subtheme specific CSS.
 */
.navbar-brand img {
    height:2rem;
}

.carousel-caption {
    background-color: rgba(0, 0, 255, 0.5);
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#block-poweredbymiage{
    margin-left: auto;
    margin-right: auto;
}
